src/main/resources/xsd/user_account.xsd

<!-- user_account.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="UserAccount">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id" type="xs:int"/>
                <xs:element name="Username" type="xs:string"/>
                <xs:element name="Password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
